<div ng-controller="homeController">
  <table class="table">
    <tr>
      <td>
        User Name
      </td>
      <td>
        <input type="text" ng-model="userName" placeholder="User Name" class="form-control" />
      </td>
    </tr>
    <tr>
      <td>
        Password
      </td>
      <td>
        <input type="password" ng-model="password" placeholder="Password" class="form-control" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="button" value="Login" class="btn-primary" ng-disabled="(password=='' || userName=='')" ng-click="validateUser()" />
      </td>
    </tr>
  </table>
</div>
